#lenguajes{
    background-color: aquamarine;
}
#blanco{
    background-color:gray;
}
#verde{
    background-color: greenyellow;
}
#azul{
    background-color: blueviolet;
}
#amarillo{
    background-color: yellow;
}
#ing{
    background-color: tomato;
}
#tec{
    background-color: cadetblue;
}